@import "@fontsource/rubik"; /* ייבוא פונט גוגל מודרני */

body {
  margin: 0;
  padding: 0;
  background-color: #f3f4f6; /* רקע אפור בהיר מאוד לכל האפליקציה */
  font-family: 'Rubik', sans-serif; /* הגדרת הפונט כברירת מחדל */
  overflow-x: hidden; /* מניעת גלילה רוחבית בעת אנימציות */
}